body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.logo {
	width: 100px;
	height: 100px;
	margin: 20px auto;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	transition: color 0.2s ease;
}

nav a:hover {
	color: #ccc;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.columna {
	flex-basis: 33.33%;
	padding: 20px;
	box-sizing: border-box;
	animation: columna-animation 0.5s ease;
}

@keyframes columna-animation {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.leer-mas {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

.texto-adicional {
	display: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer li {
    margin-bottom: 10px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #ccc;
  }
  
